.ma-dropdown {
    @apply relative inline-block w-full;
    background-color: #d4d4d4;
    border: 1px solid #000;
    border-radius: 0.5rem;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.06);
    color: #5e5e5e;
    cursor: pointer;
    padding-bottom: 0.5rem;
    text-align: center;
    width: 10rem;
}

.ma-dropdown-label {
    @apply text-sm font-medium text-gray-700 dark:text-gray-300;
    cursor: pointer;
}

.ma-dropdown-icon {
    cursor: pointer;
    padding: 0.25rem;
}

svg {
    cursor: pointer;
    transform: scale(1.2);
}